---
---
<header class="fixed top-0 left-0 right-0 h-fit
bg-amber-200 opacity-90 text-indigo-800 font-bold">
<h1 class="text-4xl">This is a single column basic webpage.</h1>
<aside class="text-xl">And above is its header. Which will not change its porition when you scroll the contents.</aside>
</header>